body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 100vh;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.399);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.353);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.377);
  position: relative;
}

.browse {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% 80%;
  width: 100%;
  padding-bottom: 12rem;
}

.sideBar {
  /* background-color: rgb(240, 159, 88); */
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 2rem;
}

.sideBar > .logo {
  display: grid;
  place-items: center;
}

.category {
  width: 70%;
  padding: 0.5rem 0 1rem 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
  0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.category > a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.category > a > img {
  height: 6rem;
}

.category > a > p {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.sideBar > h2 {
  text-align: center;
}

.products {
  padding: 0 2rem 0 2rem;
}

a {
  all: unset;
  cursor: pointer;
}

.products > h2 {
  font-weight: 500;
  font-style: italic;
  font-size: 2.5rem;
}

.productsList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.product {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
  0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.product img {
  width: 15rem;
}

.product p {
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.innerContainer {
  background-color: #fefefe;
  display: grid;
  place-items: center;
  margin: auto;
  padding: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.336);
  max-width: 1280px;
  border-radius: 2rem;
}

.innerContainer > img {
  height: 20rem;
}

.innerContainer > p {
  width: 60%;
}

.innerContainer > form > input {
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 5rem;
}
form {
  width: 100%;
  display: grid;
  place-items: center;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.innerContainer > form > .buttons > button {
  all: unset;
  text-align: center;
  background-color: rgb(218, 43, 24);
  border-radius: 1rem;
  color: white;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.innerContainer > form > .buttons > button:hover,
.summaryButtons > button:hover {
  background-color: rgb(154, 25, 11);
}

.summaryBox {
  border-top: 2px solid rgba(0, 0, 0, 0.167);
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.summaryInfo {
  font-size: 1.3rem;
  font-weight: 400;
}

.summaryButtons {
  margin-top: 1rem;
  width: 70%;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.summaryButtons > button {
  all: unset;
  text-align: center;
  background-color: rgb(218, 43, 24);
  border-radius: 1rem;
  color: white;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

/* SUMMARY VIEW */

.items {
  padding: 0 1rem 0 1rem;
  display: grid;
  gap: 1rem;
  padding-bottom: 12rem;
}

.items > h2 {
  text-align: center;
  font-weight: 400;
}

.green {
  background-color: rgb(14, 168, 32) !important;
}

.green:hover {
  background-color: rgb(10, 115, 22) !important;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  background-color: #f4f4f4;
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
}

.item > * {
  display: grid;
  place-items: center;
}

.item > div > p {
  margin: 0;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}

.item > h1 {
  font-size: 1.2rem;
}

.item > p {
  font-size: 1.2rem;
}

.item > img {
  height: 5rem;
}

.item > button {
  all: unset;
  background-color: rgb(218, 43, 24);
  height: 60%;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.item > button:hover {
  background-color: rgb(155, 33, 20);
}

/* PAYMENT VIEW */

.payment-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 139, 83);
}

.payment-content {
  background-color: white;
  padding: 1rem;
  padding-bottom: 3rem;
  width: 60%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.paymentH2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.methods > div {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(13, 189, 72, 0.904);
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 3rem;
  border-radius: 2rem;
}

.methods > div > img {
  height: 15rem;
}

/* END SCREEN */

.end-content {
  background-color: white;
  padding: 1rem;
  width: 60%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.end-content > h2,
.end-content > h1 {
  text-align: center;
}

.end-content > h1 {
  font-size: 8rem;
  font-weight: 700;
  margin: 2rem;
  color: rgb(18, 200, 18);
}

/* KITCHEN */

.resturantBtn {
  max-height: 6rem !important;
}

/* RESTAURANT */

.titles {
  padding-top: 3rem;
}

.tables,
.titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 5rem;
}

.titles > div {
  text-align: center;
}

.titles > div > h2 {
  font-size: 2rem;
  font-weight: 700;
}

.tables > div {
  background-color: #e4e4e4;
  width: 100%;
  border-radius: 1rem;
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

.tables > .inProgress > div {
  background-color: rgb(243, 186, 0);
  color: rgb(255, 255, 255);
}

.tables > .ready > div {
  background-color: rgb(0, 223, 104);
  color: rgb(255, 255, 255);
}

.number {
  width: 40%;
  max-width: 40%;
  height: max-content;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3rem;
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  gap: 1rem;
  font-weight: 700;
}
